<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <h2>Welcome to <%= title %></h2>
            <br><br><h3>Ahmad Hajirahimi</h4> <br>
            <h4>Student#: 301180926</h4> <br>
            <h4>Software Engineering Technician</h4> <br>
            <h4>COMP 229 - Web Application Development - SEC 012</h4> <br>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


